html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background: #2D2E36;
    color: white;
    font-family: 'Poppins';
}

html {
    font-size: 16px;
}

.container {
    background-color: #383A45;
    margin: 1rem;
    padding: 1rem;
    border-radius: .5rem;
}